<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Add Restoran</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div th:if="${restoran != null}">
        <div th:if="${isDeleted}">
            <h2 th:text="'restoran dengan nama ' + ${restoran.nama} + ' berhasil dihapus'"></h2>
        </div>
        <div th:unless="${isDeleted}">
            <h2 th:text="'restoran dengan nama ' + ${restoran.nama} + ' tidak bisa dihapus karena memiliki menu'"></h2>
        </div>
    </div>
    <div th:unless="${restoran != null}">
        <h2 th:text="'Restoran dengan id ' + ${idRestoran} + ' tidak ditemukan.'"></h2>
    </div>

</body>
</html>