<html xmlns:th="http://thymeleaf.org">
<head>
    <title> Home </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<div class="container-fluid">
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Update Password
                </div>
                <div class="card-body">
                    <div th:if="${param.error}">
                        <span style="color: red">Invalid password</span>
                    </div>
                    <form th:action="@{/update-password}" method="POST">
                        <div class="row form-group">
                            <label class="col-sm-4">Password Lama:</label>
                            <input type="password" class="col-sm-8 form-control input-sm" name="passwordLama">
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4">Password Baru:</label>
                            <input type="password" class="col-sm-8 form-control input-sm" name="passwordBaru"
                                   pattern = "(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                   title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4">Konfirmasi Password Baru:</label>
                            <input type="password" class="col-sm-8 form-control input-sm" name="passwordBaruKonfirmasi">
                        </div>
                        <div class="row form-group">
                            <button type="submit" class="btn btn-primary">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h3 th:text="${status}"></h3>
</div>
</body>
</html>